.container {
    max-width: 120rem;
    margin: 8rem auto;
    background-color: var(--color-grey-light-2);
    box-shadow: var(--shadow-dark);
    height: 50rem;
    @media only screen and (max-width: 1200px) {
        margin: 0;
        max-width: 100%;
        width: 100%;
    }
}

.header {
    height: 7rem;
    background-color: #fff;
    border-bottom: 1px solid var(--color-grey-light-1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media only screen and (max-width: 500px) {
        font-size: 1rem;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
    }
}

.content {
    display: flex;
    @media only screen and (max-width: 937px) {
        flex-direction: column;
    }
}

.sidebar {
    background-color: var(--color-grey-dark-1);
    flex: 0 0 18%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @media only screen and(max-width: 937px) {
        .legal {
            display: none;
        }
    }
}

.hotel-view {
    background-color: #fff;
    flex: 1;
}

.detail {
    display: flex;
    padding: 4.5rem;
    background-color: var(--color-grey-light-1);
    border-bottom: var(--line);
    font-size: 1.4rem;
    @media only screen and (max-width: 937px) {
        padding: 1rem;
        margin-bottom: 3rem;
    }
    @media only screen and (max-width: 713px) {
        flex-direction: column;
    }
    @media only screen and (max-width: 445px) {
        font-size: 1rem;
    }
}

.description {
    background-color: orangered;
    flex: 0 0 60%;
    margin-right: 4.5rem;
    background-color: #fff;
    box-shadow: var(--shadow-light);
    padding: 3rem;
    @media only screen and (max-width: 713px) {
        margin-right: 0;
        margin-bottom: 3rem;
    }
}

.user-review {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}